{% extends "base.html" %}
{% block title %}My Groups{% endblock %}
{% block content %}
<div class="container">
    <h1>My Group$</h1>
    {% if session['role'] != 'admin' %}
    {{ flask_macro.render_flashed_messages() }}
    <form action="{{ url_for('join_group') }}" method="post" class="mb-3">
        {{ form.hidden_tag() }}
        <div class="input-group">
            {{ form.code(class="form-control", id="code") }}
            <button type="submit" class="btn btn-primary">Join Group</button>
        </div>
    </form>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>People Count</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for group in groups %}
            <tr>
                <td>{{ group.name }}</td>
                <td>{{ group.members | length }}</td>
                <td>
                    <a href="{{ url_for('show_group', group_id=group.id) }}" class="btn btn-info">👀 View</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}